.developmentAidPercentageOfGdp-tooltip {
  padding: 1em;
  background-color: white;
}
.developmentAidPercentageOfGdp-tooltip .dollars {

}
.developmentAidPercentageOfGdp-tooltip .country {

}

.recharts-pie-label-text {

}
 .preload-flags {
   height: 0;
 }
